{% extends "base.html" %}

{% block content %}
<h1 class="h1-title">Работа</h1>
<p align="left" class="p-main-text"><strong>Внимание!</strong> К сожалению на данный момент отправка почты не работает, так как heroku требует для этого специальный add-on. Вы можете проверить это на локальном сервере, там отправка почты работает корректно.</p>
<p align="left" class="p-main-text">Нажмите кнопку ниже, чтобы получить доступ без отправки почты:</p>
<a href="/verify">
    <button class="btn btn-outline-success" type="button">Получить доступ</button>
</a>
<p align="left" class="p-main-text">Для того, чтобы получить доступ к
    добавлению/редактированию/просмотру своих товаров и компаний, необходимо
    подтвердить адрес электронной почты.</p>
{% if permission == "user" %}
<div class="container div-center2">
    <form class="form-group" method="post" action="">
        {{ form.hidden_tag() }}
        <input class="form-control" name="email" type="email" placeholder="Введите почту">
        {% for error in form.email.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Прислать письмо</button>
    </form>
</div>
{% else %}
<h4 align="left" class="p-main-text">Почта подтверждена. Все функции доступны.</h4>
{% endif %}
{% endblock %}
