{% extends "base.html" %}

{% block content %}
<h1 class="h1-title">Что такое storage?</h1>
<p class="p-main-text" align="left">Наш сайт предоставляет возможность
    просмотреть любые товары из наших магазинов онлайн.</p>
<div class="container div-center2">
    <div class="row" align="center">
        <div class="card" style="width: 18rem;">
            <img src="static/img/card_img1.jpg"
                 class="card-img-top resize" alt="..." style="margin-top: 10px;">
            <div class="card-body"><p class="card-text">
                Надежность</p></div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="static/img/card_img2.jpg"
                 class="card-img-top resize" alt="..." style="margin-top: 10px;">
            <div class="card-body"><p class="card-text">Скорость
                доставки</p></div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="static/img/card_img3.jpg"
                 class="card-img-top resize" alt="..." style="margin-top: 10px;">
            <div class="card-body"><p class="card-text">24/7</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
