{% extends "base.html" %}

{% block content %}
<h1 class="h1-title">Категории товаров</h1>
<!--<script>-->
<!--    var display_type = "cards";-->
<!--    function change_display_type() {-->
<!--        if (display_type === "cards") display_type = "list";-->
<!--        else display_type = "cards";-->
<!--    }-->
<!--</script>-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/storage',
                function(data) {
                if (display_type === "cards") display_type = "list";
                else display_type = "cards";
            });
            return false;
          });
        });
</script>
{% if display_type == "cards" %}
<a href="/storage">
    <button onclick="change_display_type()" align="left" class="btn btn-dark" style="margin-bottom: 10px;">
        Сменить вид
    </button>
</a>
<div class="container div-center2">
    {% for i in grouped_types %}
    <div align="center" class="row">
        {% for j in i %}
        <div class="card"
             style="width: 18rem; background-color: lightgray; margin: 5px;">
            <a href="/storage/{{ j.name }}/{{ display_type }}">
                <img alt="..."
                     class="card-img-top resize" onerror="this.onerror=null;this.src='../static/img/no_image.png'"
                     src="">
            </a>
            <div class="card-body"><p class="card-text">
                {{ j.id }} {{ j.name }} {{ j.description }}</p></div>

        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% else %}
<a href="/storage">
    <button onclick="change_display_type()" align="left" class="btn btn-dark" style="margin-bottom: 10px;">
        Сменить вид
    </button>
</a>
<div align="center" class="container div-center2">
    {% for j in types %}
    <div class="card"
         style="width: 54rem; background-color: lightgray; margin: 5px;">
        <a href="/storage/{{ j.name }}/{{ display_type }}">
            <img alt="..."
                 class="card-img-top resize" onerror="this.onerror=null;this.src='../static/img/no_image.png'"
                 src="">
        </a>
        <div class="card-body"><p class="card-text">
            {{ j.id }} {{ j.name }} {{ j.description }}</p></div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}
