{% extends "base.html" %}

{% block content %}
<h1 class="h1-title">Категории товаров</h1>
{% if display_type == "cards" %}
<a href="/storage/list">
    <button align="left" class="btn btn-dark" style="margin-bottom: 10px;">
        Сменить вид
    </button>
</a>
<div class="container div-center2">
    {% for i in grouped_types %}
    <div align="center" class="row">
        {% for j in i %}
        <div class="card"
             style="width: 18rem; background-color: lightgray; margin: 5px;">
            <a href="/storage/{{ j.name }}/{{ display_type }}">
                <img alt="..."
                     class="card-img-top resize" onerror="this.onerror=null;this.src='../static/img/no_image.png'"
                     src="">
            </a>
            <div class="card-body"><p class="card-text">
                {{ j.id }} {{ j.name }} {{ j.description }}</p></div>

        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% else %}
<a href="/storage/cards">
    <button align="left" class="btn btn-dark" style="margin-bottom: 10px;">
        Сменить вид
    </button>
</a>
<div align="center" class="container div-center2">
    {% for j in types %}
    <div class="card"
         style="width: 54rem; background-color: lightgray; margin: 5px;">
        <a href="/storage/{{ j.name }}/{{ display_type }}">
            <img alt="..."
                 class="card-img-top resize" onerror="this.onerror=null;this.src='../static/img/no_image.png'"
                 src="">
        </a>
        <div class="card-body"><p class="card-text">
            {{ j.id }} {{ j.name }} {{ j.description }}</p></div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}
