{% extends "base.html" %}

{% block content %}
<!--Reconnect css due to double query string arguments-->
<link href="../../static/css/style.css" rel="stylesheet" type="text/css">
<h1 class="h1-title">{{ title }}</h1>
<div align="left" class=""
     style="background-color: lightgray; border: 3px double dimgray; margin: 10px;">
    <div class="container">
        <div class="row">
            <img alt="..." class="resize"
                 onerror="this.onerror=null;this.src='../../static/img/no_image.png'"
                 src=""
                 style="margin: 10px; height: 200px; width: auto">
            <div class="col" style="margin: 10px; margin-bottom: 10px;">
                <h5 class="mt-0">{{ item.name }}</h5>
                <p>Количество: {{ item.amount }}; Дата: {{ item.date }}</p>
                <p>Тип товара: {{ item.type }}; ID товара: {{ item.id }}</p>
                <p>Компания: {{ item.company }}; Создатель: {{ item.creator }}</p>
                <p>Описание: {{ item.description }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}